// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.width-percentage-100 {
  width: 100%;
}

.width-percentage-50 {
  width: 50%;
}

ion-col {
    &[width-20] {
        flex: 0 0 20%;
        max-width: 20%;
    }

    &[width-30] {
        flex: 0 0 30%;
        max-width: 30%;
    }

    &[width-40] {
        flex: 0 0 40%;
        max-width: 40%;
    }

     &[width-50] {
        flex: 0 0 50%;
        max-width: 50%;
    }

    &[width-70] {
        flex: 0 0 70%;
        max-width: 70%;
    }

    &[width-100] {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}
